<div class="ui dimmer visible active" (click)="closeModal(); form.reset()">
    <div class="ui modal tiny visible active" (click)="$event.stopPropagation()">
        
        <form #form class="ui form" style="margin: 20px;" [formGroup]="formGruppe" (submit)="onSubmit(); form.reset()">
            <div class="field">
                <label>Name</label>
                <input type="text" placeholder="Name" [formControl]="formGruppe.controls.name"/>
            </div>

            <div class="field">
                <label>Titel</label>
                <input type="text" placeholder="Titel" [formControl]="formGruppe.controls.titel"/>
            </div>

            <div class="field">
                <label>Bild</label>
                <div class="ui two column grid">
                    <div class="row" style="height: 80px;">
                        <div class="column">
                            <select #bildAuswahl class="ui fluid search dropdown" style="margin-top: 10px;" [formControl]="formGruppe.controls.bildLink">
                                <option value="">Wähle ein Bild aus</option>
                                <option *ngFor="let bild of bilder" [value]="bild.link">{{bild.titel}}</option>
                            </select>
                        </div>

                        <div class="column" *ngIf="formGruppe.controls.bildLink.value">
                            <img class="ui image circular floated right" style="height: 60px;" [src]="formGruppe.controls.bildLink.value"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Beschreibung</label>
                <textarea placeholder="Beschreibung" rows="4" [formControl]="formGruppe.controls.beschreibung"></textarea>
            </div>

            <button class="ui button" type="submit">Abschicken</button>
        </form>
    </div>
</div>
